.paragraph {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.paragraph-2 {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.zero-span {
    width: 20%;
}

.span-1 {
    width: 20%;
}

.span-2 {
    width: 25%;
}

